[Unit]
Description=StatsD High Available Proxy
After=network-online.target

[Service]
User=statsite
Group=statsite
ExecStart=/usr/bin/statsd-ha-proxy --config=/etc/statsd-ha-proxy/config.yml
TimeoutStopSec=60
StandardOutput=journal
StandardError=journal
Restart=always
LimitMEMLOCK=infinity
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
